<h1>Articles Index</h1>

<table>
<thead>
    <tr>Title</tr>
    <tr>Description</tr>
</thead>

<tbody>
    <% @articles.each do |article| %>
        <tr>
            <td>
                <%= article.title %>
            </td> 
            <td>
                <%= article.description %> 
            </td> 
        </tr>
    <% end %>
</tbody>
